#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


h1 {
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.Error_Display {
  font-size: 10px;
}

.title{
  padding:20px;
}

.title-tag{
  font-size:smaller;
  padding-bottom:10px;
}
