nav .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.nav-link {
  color: rgb(0, 0, 0) ; /* or any color you want */
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.nav-link:hover{
  color: #ff4081; /* any color you want */
}

.navbar-brand{
  color: rgb(0, 0, 0) ;
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: bold;
}

