:root {
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  background-color: #Ebe8fc;
  min-height: 100vh;
}

hr {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  border: none;
  height: 2px;
  background-color: #000000;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Footer{
  border-top:1px solid black;
  text-align: left;
}

.Footer-text{
  padding:10px;
  font-size:10px;
}
